/* 
  Styles defined externally are overridden by both
  internally defined styles and by inline styles.
*/

/*
  Set the global styling on body 
  (don't use the universal selector - it's inefficient). 
*/
body {
  font-family: 'Montserrat', sans-serif;
}

/* Define a custom font (available locally). */
@font-face {
  font-family: 'Anton';
  src: url('./fonts/Anton-Regular.ttf') format('truetype');
}

#product-overview {
  background: #ff1b68;
  color: white;
  font-family: 'Anton', sans-serif;
}

h1.section-title {
  text-align: center;
  font-family: inherit;
  color: #2ddf5c;
}

/* 
  Styles are applied based on specificity rules (high-to-low):
    - inline styling on the element
    - styling applied based on id
    - styling applied based on class, pseudo-class & attribute
    - styling applied on elements & pseudo-elements
    - universal selector
    - default browser styles

  Some styles (like font-related styles) are inherited from parent elements.
  However, these inherited styles have the lowest specificity.
*/
