/* 
  Styles defined externally are overridden by both
  internally defined styles and by inline styles.
*/

/* Define a custom font (available locally). */
@font-face {
  font-family: 'Anton';
  src: url('./fonts/Anton-Regular.ttf') format('truetype');
}

section {
  background: #ff1b68;
  color: white;
}

h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
}
